{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мотоциклы - Интернет-магазин</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'in_stock' %}">Мото в наличии</a></li> <!-- Ссылка в наличии -->
                <li><a href="{% url 'to_order' %}">Мото под заказ</a></li> <!-- Ссылка под заказ -->
                <li><a href="{% url 'equip' %}">Мотоэкипировка</a></li> <!-- Ссылка на экипировку -->
                <li><a href="#">Обратный звонок</a></li> <!-- Ссылка на форму обратный звонок -->
                <li><a href="{% url 'about' %}">О компании</a></li> <!-- Ссылка о компании -->
                <li><a href="{% url 'contacts' %}">Контакты</a></li> <!-- Ссылка на Контакты -->
                <li><a href="{% url 'comments' %}">Отзывы</a></li> <!-- Ссылка на отзывы -->
            </ul>
            <a href="#" class="buy-btn">Войти</a> <!-- Ссылка вместо кнопки -->
        </nav>
    </header>
    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>МОТОЦИКЛЫ</h1>
                <p>В наличии и под заказ</p>
                <a href="#" class="buy-btn">Купить сейчас</a> <!-- Ссылка вместо кнопки -->
            </div>
        
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Motoshop</p>
    </footer>
</body>
</html>
